body {
  font-family: Helvetica, Arial, sans-serif;
  background: #ffffff;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

a {
  color: #8fbac6;
  text-decoration: underline;
}

a:hover {
  color: #d52128;
}

ul {
  list-style: none;
}

dl {
  dt {
    font-weight:bold;
    font-size:1.2em;
    margin-bottom:0.5em;
    margin-top:1em;
  }
  dd {

  }
}

header {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0px;
}

nav {
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #8fbac6;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  padding: 5px;
}

nav a:link {
  color: #8fbac6;
}

nav a:visited {
  color: #8fbac6;
}

nav a:hover {
  color: #d52128;
}

#one {
  float: left;
}

#two {
  float: right;
  padding-right: 10px;
  padding-left: 5px;
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
}

#foto {
  background-color: #8fbac6;
  max-width: 100%;
  margin-top: 20px;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rsvp {
  color: #8fbac6;
  font-family: 'Neuton', serif;
  font-size: 1.3em;
  word-spacing: 8px;
  padding: 18px 0px;
  clear: both;
  text-align: center;
}

hr {
  color: #8fbac6;
  background-color: #8fbac6;
  height: 2px;
  border: 0;
}

.red {
  color: #d52128;
}

.mass {
  float: left;
  height: 406px;
  width: 341px;
  border: 1px solid #A9A9A9;
}

#church {
  font-size: 24px;
  line-height: 160%;
  font-family: 'Neuton', serif;
  max-width: 100%;
  overflow: hidden;

  ul {
    float: left;
    margin: 3em;
    position: relative;

    @media screen and (min-width: 1100px) {
      left: 130px;
    }
  }

  img {
    @media (max-width: 900px) {
      display: none;
    }
  }

  .drop {
    font-family: 'Lovers Quarrel';
    float: left;
    font-size: 8em;
    line-height: .98em;
    margin-right: 0.1em;
    padding-bottom: 30px;
  }

  li {
    display: block;
  }

}

.dark-theme {
  background-color: @blueColor;
  color: #fff;

  a:visited {
    color: #ffffff;
  }

  a:link {
    color: #ffffff;
  }

  a:visited {
    color: #ffffff;
  }

  a:hover {
    color: #d52128;
  }

  a:active {
    color: #d52128;
  }

}

#wedding {
  background-color: #ffffff;
  color: #8fbac6;
  font-size: 24px;
  line-height: 160%;
  font-family: 'Neuton', serif;
  max-width: 100%;
  padding: 65px 100px 48px 94px;
  height: 298px;
  box-sizing: content-box;
  overflow: hidden;
  clear: both;
}

.wedding {
  float: right;
  margin-right: -100px;
  margin-top: -65px;
  border: 1px solid #A9A9A9;
}

#wedding a:link {
  color: #8fbac6;
}

#wedding a:visited {
  color: #8fbac6;
}

#wedding a:hover {
  color: #d52128;
}

#wedding a:active {
  color: #d52128;
}

footer {
  background-color: #8fbac6;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  word-spacing: 3.5px;
  padding: 40px 0;
  font-size: 0.9em;
  clear: both;
}

footer a, nav a {
  text-decoration: none;
}

footer a {
  color: #ffffff;
}

footer a:visited {
  color: #ffffff;
}

footer a:hover {
  color: #d52128;
}

footer a:active {
  color: #d52128;
}

footer .ball {
  height: 25px;
}

/*info day page*/

@blueColor: #8fbac6;

blockquote {
  font-style: italic;
  font-family: 'Neuton', serif;

}

body.info {
  main {
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    font-family: 'Neuton', serif;

    word-spacing: 1px;

    .text-container {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }

  footer {
    background-color: #fff;
    color: @blueColor;
  }

}
