/* ==========================================================================
   App Stylesheet
   app.less
   ========================================================================== */


/* Vendor Styles and Setting (bootstrao > variables)
   ======================================================================== */
@import "bootstrap.less";


/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base.less";

* {
  font-family: 'Neuton', serif;
}

div.hero {
  background: no-repeat #8fbac6;
  width: 100%;
}

div.hero .container{
  margin:auto;
  height: 100%;

  > img {
    @media  screen and (max-width:700px){
      width: 100%;
      background-size: contain;
    }
  }

}
